accountname = abc1234.west-europe.azure  
#region = defaultregion
username = user.name@sample.com
#password = defaultpassword
dbname = DEFAULT_DB
schemaname = DEFAULT_SCHEMA
warehousename = DEFAULT_WH
rolename = DEFAULT_ROLE
#proxy_host = defaultproxyhost
#proxy_port = defaultproxyport
prompt_format = "[#6AFF00]Gani[#FFFFFF]@[#FFFF00][database].[#00F9FF][schema][#FFFFFF]>"
